swagger: '2.0'
info:
  version: '1.0.0'
  title: 'Skatteverket POC - HUNTen'
  description: 'En POC för hur Skatteverkets API skulle kunna se ut för HUNTen'
  termsOfService: https://www.skatteverket.se/
  contact:
    name: 'Olof Skyttner'
    email: olof@kalufs.se
  license:
    name: 'No License'
    url: https://www.gnu.org/licenses/license-list.en.html#NoLicense
host: www.skatteverket.se
basePath: /api/v1
schemes:
  - https
consumes:
  - application/json
produces:
  - application/json
paths:
  /persons/{personId}/begäranden-om-utbetalning-för-rot-eller-rutarbete:
    get:
      description: 'Hämtar alla begäran för denna person'
      operationId: listBegäranOmUtbetalningFörRotEllerRutarbete
      produces:
        - application/json
      parameters:
        - name: personId
          in: path
          description: 'Personens id'
          required: true
          type: string
          format: uuid
      responses:
        '200':
          description: 'Returnerar en lista av begäran'
          schema:
            type: array
            items:
              $ref: '#/definitions/mottagenBegäran'
    post:
      description: 'Lägger till en ny begäran'
      operationId: addBegäranOmUtbetalningFörRotEllerRutarbete
      consumes:
        - application/pdf
      produces:
        - application/pdf
      parameters:
        - name: personId
          in: path
          description: 'Personens id'
          required: true
          type: string
          format: uuid
        - name: signedPdf
          in: body
          description: 'Den signerade pdf:en'
          required: true
          schema:
            type: string
            format: binary
      responses:
        '201':
          description: 'Den nya begäran är skapad'
          headers:
            'Location':
              description: 'URI för den nyskapade begäran'
              type: string
              format: uri
        '403':
          description: 'Forbidden: Undertecknaren är inte behörig att företräda'
        default:
          description: 'unexpected error'
          schema:
            $ref: '#/definitions/errorModel'
  /persons/{personId}/begäranden-om-utbetalning-för-rot-eller-rutarbete/generatePdf:
    post:
      description: 'Genererar en PDF utifrån en begäran'
      operationId: generatePdfBegäranOmUtbetalningFörRotEllerRutarbete
      consumes:
        - application/json
        - application/xml
      produces:
        - application/pdf
      parameters:
        - name: personId
          in: path
          description: 'Personens id'
          required: true
          type: string
          format: uuid
        - name: begäran
          in: body
          description: 'Begäran'
          required: true
          schema:
            $ref: '#/definitions/Begaran'
      responses:
        '200':
          description: 'PDF för begäran är genererad, färdig att signera'
          schema:
            type: file
        default:
          description: 'unexpected error'
          schema:
            $ref: '#/definitions/errorModel'
  /persons/{personId}/begäranden-om-utbetalning-för-rot-eller-rutarbete/{begäranId}:
    get:
      description: Returnerar en specifik begäran om utbetalning för ROT- eller RUT-arbete
      operationId: getBegäranOmUtbetalningFörRotEllerRutarbete
      produces:
        - application/json
        - application/xml
        - application/pdf
        - text/html
      parameters:
        - name: personId
          in: path
          description: 'Personens id'
          required: true
          type: string
          format: uuid
        - name: begäranId
          in: path
          description: 'Begärans id'
          required: true
          type: string
          format: uuid
      responses:
        '200':
          description: 'En specifik begäran'
          schema:
            $ref: '#/definitions/mottagenBegäran'
        '401':
          description: 'Unauthorized: Användaren är inte autentiserad och får därför inte se denna begäran'
        '403':
          description: 'Forbidden: Användaren är autentiserad men inte auktoriserad att se denna begäran'
        default:
          description: 'unexpected error'
          schema:
            $ref: '#/definitions/errorModel'
  /persons/{personId}/begäranden-om-utbetalning-för-rot-eller-rutarbete/{begäranId}/beslut:
    get:
      description: Returnerar en specifik begäran om utbetalning för ROT- eller RUT-arbete
      operationId: getBeslutFörBegäranOmUtbetalningFörRotEllerRutarbete
      produces:
        - application/json
        - application/xml
        - application/pdf
        - text/html
      parameters:
        - name: personId
          in: path
          description: 'Personens id'
          required: true
          type: string
          format: uuid
        - name: begäranId
          in: path
          description: 'Begärans id'
          required: true
          type: string
          format: uuid
      responses:
        '304':
          description: 'Redirect till beslutet'
          headers:
            'Location':
              description: 'URI för den nyskapade begäran'
              type: string
              format: uri
        '404':
          description: 'Not Found: Beslut är inte fattat för denna begäran'
        default:
          description: 'unexpected error'
          schema:
            $ref: '#/definitions/errorModel'
    post:
      description: 'Lägger till ett nytt beslut'
      operationId: addBeslutOmUtbetalningFörRotEllerRutarbete
      consumes:
        - application/json
        - application/xml
      produces:
        - application/pdf
      parameters:
        - name: personId
          in: path
          description: 'Personens id'
          required: true
          type: string
          format: uuid
        - name: begäranId
          in: path
          description: Begärans ID
          required: true
          type: string
          format: uuid
      responses:
        '201':
          description: 'Det nya beslutet är mottaget och underskrivet'
          headers:
            'Location':
              description: 'URI för beslutet'
              type: string
              format: uri
        '401':
          description: 'Unauthorized: Användaren är inte autentiserad'
        '403':
          description: 'Forbidden: Användaren är autentiserad men inte auktoriserad att se fatta detta beslut'
        default:
          description: 'unexpected error'
          schema:
            $ref: '#/definitions/errorModel'
  /persons/{personId}/beslut-om-utbetalning-för-rot-eller-rutarbete:
    get:
      description: 'Hämtar alla beslut för denna person'
      operationId: listBeslutOmUtbetalningFörRotEllerRutarbete
      produces:
        - application/json
      parameters:
        - name: personId
          in: path
          description: 'Personens id'
          required: true
          type: string
          format: uuid
        - name: referensnummer
          in: query
          description: 'Skatteverkets referensnummer för begäran, för filtrering'
          required: false
          type: string
          minLength: 0
          maxLength: 40
        - name: personnummer
          in: query
          description: 'Personnummer för köpare i begäran, för filtrering'
          required: false
          type: string
          minLength: 12
          maxLength: 12
          pattern: '\d+'
        - name: namnPåBegäran
          in: query
          description: 'Eget namn på begäran, för filtrering'
          required: false
          type: string
          minLength: 1
          maxLength: 16
        - name: fakturanummer
          in: query
          description: 'Fakturanummer i begäran, för filtrering'
          required: false
          type: string
          minLength: 0
          maxLength: 20
      responses:
        '200':
          description: 'Returnerar en lista av beslut'
          schema:
            type: array
            items:
              $ref: '#/definitions/beslut'
  /persons/{personId}/beslut-om-utbetalning-för-rot-eller-rutarbete/{beslutId}:
    get:
      description: Returnerar ett specifikt beslut om utbetalning för ROT- eller RUT-arbete
      operationId: getBeslutOmUtbetalningFörRotEllerRutarbete
      produces:
        - application/json
        - application/xml
        - application/pdf
        - text/html
      parameters:
        - name: personId
          in: path
          description: 'Personens id'
          required: true
          type: string
          format: uuid
        - name: beslutId
          in: path
          description: 'Beslutets id'
          required: true
          type: string
          format: uuid
      responses:
        '200':
          description: 'Ett specifikt beslut'
          schema:
            $ref: '#/definitions/beslut'
        '401':
          description: 'Unauthorized: Användaren är inte autentiserad och får därför inte se denna begäran'
        '403':
          description: 'Forbidden: Användaren är autentiserad men inte auktoriserad att se denna begäran'
        default:
          description: 'unexpected error'
          schema:
            $ref: '#/definitions/errorModel'
definitions:
  mottagenBegäran:
    description: 'En underskriven begäran som är mottagen av Skatteverket'
    allOf:
      - $ref: '#/definitions/Begaran'
      - properties:
          Referensnummer:
            description: 'Skatteverkets referensnummer för begäran'
            type: integer
            format: int64
            minimum: 0
            maximum: 99999999999
          signatureTimestamp:
            type: string
            format: date-time
          receiptTimestamp:
            type: string
            format: date-time
  beslut:
    description: 'Ett beslut för en begäran taget av Skatteverket'
    properties:
      begäran:
        $ref: '#/definitions/mottagenBegäran'
      ärenden:
        description: 'En lista med beslutade ärenden'
        type: array
        items:
          properties:
            personnummer:
              type: string
              minLength: 12
              maxLength: 12
              pattern: '\d+'
            namn:
              type: string
              minLength: 0
              maxLength: 40
            fakturanummer:
              type: string
              minLength: 0
              maxLength: 20            
            begärtBelopp:
              type: integer
              format: int64
              minimum: 0
              maximum: 99999999999
            godkäntBelopp:
              type: integer
              format: int64
              minimum: 0
              maximum: 99999999999
            motivering:
              type: string
  Begaran:
    description: 'Uppgifter om utfört arbete för rot och rut.'
    required:
      - NamnPaBegaran
    properties:
        NamnPaBegaran:
          description: 'Ditt namn på begäran'
          type: string
          minLength: 1
          maxLength: 16
          xml:
            name: NamnPaBegaran
            namespace: 'http://xmls.skatteverket.se/se/skatteverket/ht/komponent/begaran/6.0'
        RotBegaran:
          properties:
            Arenden:
              type: array
              items:
                $ref: '#/definitions/RotArende'
              xml:
                wrapped: false
          xml:
            name: RotBegaran
            namespace: 'http://xmls.skatteverket.se/se/skatteverket/ht/komponent/begaran/6.0'
        HushallBegaran:
          properties:
            Arenden:
              type: array
              items:
                $ref: '#/definitions/HushallArende'
              xml:
                wrapped: false
          xml:
            name: HushallBegaran
            namespace: 'http://xmls.skatteverket.se/se/skatteverket/ht/komponent/begaran/6.0'
    xml:
      name: Begaran
      namespace: 'http://xmls.skatteverket.se/se/skatteverket/ht/begaran/6.0'
  TimmarMaterial:
    description: 'Uppgifter om utfört arbete, timmar och material.'
    required:
      - Materialkostnad
    properties:
      AntalTimmar:
        description: 'Antal timmar'
        type: integer
        format: int64
        minimum: 0
        maximum: 999
      Materialkostnad:
        description: 'Materialkostnad'
        type: integer
        format: int64
        minimum: 0
        maximum: 9999999
  Arende:
    description: 'Uppgifter om den du begär utbetalning för'
    type: object
    required:
      - Kopare
      - BetalningsDatum
      - PrisForArbete
      - BetaltBelopp
      - BegartBelopp
      - Ovrigkostnad
    properties:
      Kopare:
        description: 'Köparens personnummer, obligatorisk'
        type: string
        minLength: 12
        maxLength: 12
        pattern: '\d+'
        xml:
          name: Kopare
          namespace: 'http://xmls.skatteverket.se/se/skatteverket/ht/komponent/begaran/6.0'
      BetalningsDatum:
        description: 'Datum för betalning, obligatorisk, anges enligt följande exempel 2019-07-01. TODO <xs:minInclusive value="2009-07-01"/>'
        type: string
        format: date
        pattern: '(19|20)\d\d[- /.](0[1-9]|1[012])[- /.](0[1-9]|[12][0-9]|3[01])'
        xml:
          name: BetalningsDatum
          namespace: 'http://xmls.skatteverket.se/se/skatteverket/ht/komponent/begaran/6.0'
      PrisForArbete:
        description: 'Pris för arbetet, (arbetskostnaden), obligatorisk'
        type: integer
        format: int64
        minimum: 2
        maximum: 99999999999
        xml:
          name: PrisForArbete
          namespace: 'http://xmls.skatteverket.se/se/skatteverket/ht/komponent/begaran/6.0'
      BetaltBelopp:
        description: 'Belopp du fått betalt för arbetet, obligatorisk'
        type: integer
        format: int64
        minimum: 0
        maximum: 99999999999
        xml:
          name: BetaltBelopp
          namespace: 'http://xmls.skatteverket.se/se/skatteverket/ht/komponent/begaran/6.0'
      BegartBelopp:
        description: 'Belopp du begär, obligatorisk'
        type: integer
        format: int64
        minimum: 0
        maximum: 99999999999
        xml:
          name: BegartBelopp
          namespace: 'http://xmls.skatteverket.se/se/skatteverket/ht/komponent/begaran/6.0'
      FakturaNr:
        description: 'Ärendets fakturanummer'
        type: string
        minLength: 0
        maxLength: 20
        xml:
          name: FakturaNr
          namespace: 'http://xmls.skatteverket.se/se/skatteverket/ht/komponent/begaran/6.0'
      Ovrigkostnad:
        description: 'Uppgifter om övrig kostnad, gäller både rot och rut'
        type: integer
        format: int64
        minimum: 0
        maximum: 9999999
        xml:
          name: Ovrigkostnad
          namespace: 'http://xmls.skatteverket.se/se/skatteverket/ht/komponent/begaran/6.0'
    xml:
      name: Arenden
      namespace: 'http://xmls.skatteverket.se/se/skatteverket/ht/komponent/begaran/6.0'
  RotArende:
    allOf:
      - $ref: '#/definitions/Arende'
      - properties:
          Fastighetsbeteckning:
            description: 'Fastighetsbeteckning, ska fyllas i om rot-avdraget	avser en fastighet'
            type: string
            minLength: 1
            maxLength: 40
            xml:
              name: Fastighetsbeteckning
              namespace: 'http://xmls.skatteverket.se/se/skatteverket/ht/komponent/begaran/6.0'
          LagenhetsNr:
            description: 'Lägenhetsnummer, ska	fyllas i om rot-avdraget avser en lägenhet'
            type: string
            minLength: 1
            maxLength: 25
            xml:
              name: LagenhetsNr
              namespace: 'http://xmls.skatteverket.se/se/skatteverket/ht/komponent/begaran/6.0'
          BrfOrgNr:
            description: 'Bostadsrättsförenings organisationsnummer, ska fyllas i om rot-avdraget avser en lägenhet'
            type: string
            minLength: 0
            maxLength: 12
            pattern: '[\d\-]*'
            xml:
              name: BrfOrgNr
              namespace: 'http://xmls.skatteverket.se/se/skatteverket/ht/komponent/begaran/6.0'
          UtfortArbete:
            description: 'Uppgifter om utfört arbete för Rot.'
            properties:
              Bygg:
                $ref: '#/definitions/Bygg'
              El:
                $ref: '#/definitions/El'
              GlasPlatarbete:
                $ref: '#/definitions/GlasPlatarbete'
              MarkDraneringarbete:
                $ref: '#/definitions/MarkDraneringarbete'
              Murning:
                $ref: '#/definitions/Murning'
              MalningTapetsering:
                $ref: '#/definitions/MalningTapetsering'
              Vvs:
                $ref: '#/definitions/Vvs'
            xml:
              name: UtfortArbete
              namespace: 'http://xmls.skatteverket.se/se/skatteverket/ht/komponent/begaran/6.0'
  Bygg:
    allOf:
      - $ref: '#/definitions/TimmarMaterial'
    xml:
      name: Bygg
      namespace: 'http://xmls.skatteverket.se/se/skatteverket/ht/komponent/begaran/6.0'
  El:
    allOf:
      - $ref: '#/definitions/TimmarMaterial'
    xml:
      name: El
      namespace: 'http://xmls.skatteverket.se/se/skatteverket/ht/komponent/begaran/6.0'
  GlasPlatarbete:
    allOf:
      - $ref: '#/definitions/TimmarMaterial'
    xml:
      name: GlasPlatarbete
      namespace: 'http://xmls.skatteverket.se/se/skatteverket/ht/komponent/begaran/6.0'
  MarkDraneringarbete:
    allOf:
      - $ref: '#/definitions/TimmarMaterial'
    xml:
      name: MarkDraneringarbete
      namespace: 'http://xmls.skatteverket.se/se/skatteverket/ht/komponent/begaran/6.0'
  Murning:
    allOf:
      - $ref: '#/definitions/TimmarMaterial'
    xml:
      name: Murning
      namespace: 'http://xmls.skatteverket.se/se/skatteverket/ht/komponent/begaran/6.0'
  MalningTapetsering:
    allOf:
      - $ref: '#/definitions/TimmarMaterial'
    xml:
      name: MalningTapetsering
      namespace: 'http://xmls.skatteverket.se/se/skatteverket/ht/komponent/begaran/6.0'
  Vvs:
    allOf:
      - $ref: '#/definitions/TimmarMaterial'
    xml:
      name: Vvs
      namespace: 'http://xmls.skatteverket.se/se/skatteverket/ht/komponent/begaran/6.0'
  HushallArende:
    allOf:
      - $ref: '#/definitions/Arende'
      - properties:
          UtfortArbete:
            description: 'Uppgifter om utfört arbete för Rut.'
            properties:
              Stadning:
                $ref: '#/definitions/Stadning'
              KladOchTextilvard:
                $ref: '#/definitions/KladOchTextilvard'
              Snoskottning:
                $ref: '#/definitions/Snoskottning'
              Tradgardsarbete:
                $ref: '#/definitions/Tradgardsarbete'
              Barnpassning:
                $ref: '#/definitions/Barnpassning'
              Personligomsorg:
                $ref: '#/definitions/Personligomsorg'
              Flyttjanster:
                $ref: '#/definitions/Flyttjanster'
              ItTjanster:
                $ref: '#/definitions/ItTjanster'
              ReparationAvVitvaror:
                $ref: '#/definitions/ReparationAvVitvaror'
        xml:
          name: HushallArende
          namespace: 'http://xmls.skatteverket.se/se/skatteverket/ht/komponent/begaran/6.0'
  Stadning:
    allOf:
      - $ref: '#/definitions/TimmarMaterial'
    xml:
      name: Stadning
      namespace: 'http://xmls.skatteverket.se/se/skatteverket/ht/komponent/begaran/6.0'
  KladOchTextilvard:
    allOf:
      - $ref: '#/definitions/TimmarMaterial'
    xml:
      name: KladOchTextilvard
      namespace: 'http://xmls.skatteverket.se/se/skatteverket/ht/komponent/begaran/6.0'
  Snoskottning:
    allOf:
      - $ref: '#/definitions/TimmarMaterial'
    xml:
      name: Snoskottning
      namespace: 'http://xmls.skatteverket.se/se/skatteverket/ht/komponent/begaran/6.0'
  Tradgardsarbete:
    allOf:
      - $ref: '#/definitions/TimmarMaterial'
    xml:
      name: Tradgardsarbete
      namespace: 'http://xmls.skatteverket.se/se/skatteverket/ht/komponent/begaran/6.0'
  Barnpassning:
    allOf:
      - $ref: '#/definitions/TimmarMaterial'
    xml:
      name: Barnpassning
      namespace: 'http://xmls.skatteverket.se/se/skatteverket/ht/komponent/begaran/6.0'
  Personligomsorg:
    allOf:
      - $ref: '#/definitions/TimmarMaterial'
    xml:
      name: Personligomsorg
      namespace: 'http://xmls.skatteverket.se/se/skatteverket/ht/komponent/begaran/6.0'
  Flyttjanster:
    allOf:
      - $ref: '#/definitions/TimmarMaterial'
    xml:
      name: Flyttjanster
      namespace: 'http://xmls.skatteverket.se/se/skatteverket/ht/komponent/begaran/6.0'
  ItTjanster:
    allOf:
      - $ref: '#/definitions/TimmarMaterial'
    xml:
      name: ItTjanster
      namespace: 'http://xmls.skatteverket.se/se/skatteverket/ht/komponent/begaran/6.0'
  ReparationAvVitvaror:
    allOf:
      - $ref: '#/definitions/TimmarMaterial'
    xml:
      name: ReparationAvVitvaror
      namespace: 'http://xmls.skatteverket.se/se/skatteverket/ht/komponent/begaran/6.0'
  errorModel:
    type: object
    required:
      - code
      - message
    properties:
      code:
        type: integer
        format: int32
      message:
        type: string
